@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");

.font-geist {
  font-family: "Geist", system-ui;
  font-style: normal;
}

.font-poppins {
  font-family: "Poppins", system-ui;
  font-style: normal;
}