@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

.font-geist {
  font-family: "Geist", system-ui;
  font-style: normal;
}

.font-oooh-baby {
  font-family: "Oooh Baby", cursive;
  font-style: normal;
}